<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.GrupoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineasController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.LineasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntegrantesController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.IntegrantesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocenteController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.DocenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstudianteController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.EstudianteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProyectosController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.ProyectosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosController</servlet-name>
        <servlet-class>gruposinvestigacion.controlador.ProductosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoController</servlet-name>
        <url-pattern>/GrupoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineasController</servlet-name>
        <url-pattern>/LineasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntegrantesController</servlet-name>
        <url-pattern>/IntegrantesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocenteController</servlet-name>
        <url-pattern>/DocenteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteController</servlet-name>
        <url-pattern>/EstudianteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProyectosController</servlet-name>
        <url-pattern>/ProyectosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosController</servlet-name>
        <url-pattern>/ProductosController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
