
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Departamento de sistemas e Informática UFPS</title>
        <link href="../css/ufps.min.css" rel="stylesheet" type="text/css"/>
       
       
    </head>
    <body style="overflow:auto">
        <header>
            <center> <img id="banner" src="../img/Banner-superior.png" alt="imagen" height="100px" width="100%" ></center>
        </header>
        <div class="ufps-navbar ufps-navbar-fixed ufps-navbar-light" id="menuPrincipal">
        <div class="ufps-container">
            <div class="ufps-navbar-brand">
                <div class="ufps-btn-menu" onclick="toggleMenu('menuPrincipal')">
                    <div class="ufps-btn-menu-bar"></div>
                    <div class="ufps-btn-menu-bar"></div>
                    <div class="ufps-btn-menu-bar"></div>
                </div>
                Semilleros Ing-Sistemas
            </div>
            <div class="ufps-navbar-left">
            <a href="index.html" class="ufps-navbar-btn ">Inicio</a> 
            <div class="ufps-dropdown" id="dropdown4">
                <button onclick="openDropdown('dropdown4')" class="ufps-dropdown-btn ufps-activeBtn">Proyectos</button>
                <div class="ufps-dropdown-content">
                    <a href="proyectos.html" class="ufps-navbar-btn ">Registrar Proyecto</a>
                    <a href="consultaProyectos.html" class="ufps-navbar-btn ">Consultar Proyecto</a>
                    <a href="trabajosG.html" class="ufps-navbar-btn ufps-active">Registro Trabajo Grado</a> 
                </div>
            </div>  
             <a href="#" class="ufps-navbar-btn ">.</a>
            <a href="registrarLinea.html" class="ufps-navbar-btn ">Lineas De Investigacion</a>
            <a href="miembros.html" class="ufps-navbar-btn ">Miembros</a>
            <div class="ufps-dropdown" id="dropdown5">
                <button onclick="openDropdown('dropdown5')" class="ufps-dropdown-btn ">Eventos</button>
                <div class="ufps-dropdown-content">
                    <a href="eventos.html" class="ufps-navbar-btn ">Registrar Evento</a>
                    <a href="tipoEventos.html" class="ufps-navbar-btn ">Registrar Tipo Evento</a>
                  
                </div>
            </div>
            <a href="reportes.html" class="ufps-navbar-btn ">reportes</a>
            </div>
           

        </div>
        </div>
        <br><br><br>
     <div  class="ufps-container" id="contenido">
        <center>  <h4>REGISTRAR TRABAJO DE GRADO</h4> </center>
        
                <div class="ufps-col-mobile-12 ufps-col-netbook-6">
                 <div class="form-group ">
                    <label for="firstname">Nombre Proyecto Semillero</label>
                    <input type="text" class="ufps-input" ng-model="nombre" placeholder="Nombre Proyecto Semillero" required>
                </div>
              
                  <div class="form-group ">
                    <label for="firstname">Nombre Trabajo de grado</label>
                    <input type="text" class="ufps-input" ng-model="estado" placeholder="Nombre Trabajo De Grado" required>
                </div>
                     
                     <input type="button" class="ufps-btn acomodarBt" value="Registrar">  
                </div>
         <div class="ufps-col-mobile-12 ufps-col-netbook-6">
             <div class="form-group ">
                    <label for="firstname">Director</label>
                    <input type="text" class="ufps-input" ng-model="detalles" placeholder="Descripcion" required>
                </div>
             
             <div class="form-group ">
                    <label for="firstname">Fecha de sustentacion</label>
                    <input type="date" class="ufps-input" ng-model="detalles" placeholder="Linea de investigacion" required>
                </div>
           
          
        </div>
        
       
    </div>
        
        
  
       
<div class="ufps-footer">
    <h3>Universidad Francisco de Paula Santander</h3>
    <p>Programa Ingeniería de Sistemas</p>
    <p>Desarrollado por: Bayardo Pineda,Oscar Gelvez</p>
</div>             
      
       
        <script src="../js/ufps.js"></script>
  </body>
</html>
       
