/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2016, 01:54:45 AM
    Author     : JAVIER
*/

#panelpasantia{
    
    border-color: #d61117;
    padding-top: 0px;
    background: #d61117;
    color: #000;
    background-color: #fff;
    border-color: #d61117;
    padding-top: 0px;
    border: 2px solid #d61117;
    
}